<div style="min-height: 600px">
    <mat-list>
      <h3 mat-subheader style="font-size: 20px">Posts</h3>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let post of posts">
        <mat-icon mat-list-icon>email</mat-icon>
        <h5 mat-line>{{ post.title }}</h5>
        <p mat-line>{{ post.body }}</p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>