<div style="min-height: 600px">
  <mat-list>
    <h3 mat-subheader style="font-size: 20px">Todos</h3>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let todo of todos">
      <mat-icon mat-list-icon *ngIf="todo.completed">assignment_turned_in</mat-icon>
      <mat-icon mat-list-icon *ngIf="!todo.completed">assignment_late</mat-icon>
      <h5 mat-line>{{ todo.title }}</h5>
      <p mat-line>Completed: {{ todo.completed }}</p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
