<nav class="header">
  <div class="nav-wrapper" style="margin-left: 40px">
    <a href="#" class="brand-logo left"><img height="64" src="/assets/logo.jpg"></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="todos">Todos</a></li>
      <li><a href="posts">Posts</a></li>
      <li><a href="collapsible.html">About</a></li>
    </ul>
  </div>
</nav>
